a {
	/*color: linear-gradient(90deg, #971AE5, #580D87);*/
  	color: #971AE5;
}

body {
	/*background-color: #F48BCE;*/
	color: #fff;
  	background: linear-gradient(270deg, #6feae6, #f6a3ef);
	background-size: 400% 400%;
	animation: Backgroundgradient 128s ease infinite;
}

footer {
	padding: 10px;
	background-color: rgba(254,149,216,0.5);
	color: #123;
	font-size: 16px;
}

h4 {
	background-color: rgba(244,139,206,0.5);
	border-radius: 5px;
	display: inline-block;
	padding: 3px;
}

hr {
	border-color: rgba(244,139,206,0.5);
	display: block;
	width: 95%;
	margin: 8px auto;
}

input {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: rgba(0,0,0,0)
}

.boards {
	font-size:17px;
}

.form-control, .input-group, .form-group {
	margin: 0 0;
	margin: 0 0;
	border: 0;
	border-radius: 0px;
	background-color: rgba(0,0,0,0)
}

.input-group-addon {
	background-color: #556689;
	color: #fff;
	border: 0;
	/*width: 30%;*/
}

.info {
	display: inline-block;
	float: left;
}

.image {
	display: inline-block;
	max-width: 200px;
}

#boton {
	background-color: #fff;
	color: #200;
}

#boton:hover {
	background-color: #100;
	color: #a88;
}

#post-form {
	width: 60%;
	margin: auto;
}

input:-moz-placeholder {
	color: #fff;
}

@media (max-width: 720px) {
	#post-form {
		width: 100%;
	}

	.image {
		display: block;
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

}

@keyframes Backgroundgradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
	
	perspective: 300px;
}

