{% extends 'base.html' %}

{% block head %}
	<title>{{board['name']}} - {{ board['description'] }}</title>
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,0">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/styles.css" />
	<script src="/static/js/jquery.js"></script>
	<script>
		var board = "{{ board['url'] }}";
		var sha_id = "{{ sha }}";
		var size = function(img) {
			var x = img.naturalHeight;
			var y = img.naturalWidth;
			return x+' x '+y;
		};
	</script>
	<script src="/static/js/board.js"></script>
{% endblock %}

{% block content %}
	<header class="container">
		<nav class="row">
			<div class="col-xs-12 boards">
			[
			{{ visibles|safe }}
	   		]
			</div>
		</nav>
		<h1 class="text-center">{{ board['url'] }} - {{ board['name'] }}</h1>
	</header>
	
	<hr/>

	<section class="container-fluid formulario">
		<form action="/{{ board['url'] }}/post" method="POST" class="form-horizontal" id="post-form" enctype="multipart/form-data">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<div class="form-group">
				<div class="input-group">
				<label for="name" class="sr-only">Name: </label>
				<p class="input-group-addon">Name</p>
				<input class="form-control" type="text" name="name" value="Anonymous" />
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
				<label for="title" class="sr-only">Title: </label>
				<p class="input-group-addon">Title</p>
				<input class="form-control" type="text" name="title" placeholder="Title here" />
				<span class="input-group-btn">
				<button class="btn btn-primary" id="boton">Post</button>
				</span>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
				<label for="content" class="sr-only">Text: </label>
				<p class="input-group-addon">Text</p>
				<textarea class="form-control" rows="5" type="text" name="content"></textarea>
				</div>
			</div>

			<input class="form-control" name="image" type="file" />
		</form>
	</section>

	<hr/>

	<section class="container">
		{% from 'macros.html' import render_preview_thread %}
		{% for id in q %}
		{% set post = OP.get(db,board["url"],id) %}
			{{ render_preview_thread(post) }}
		{% endfor %}
	</section>

{% endblock %}

{% block footer %}
	<div class="container-fluid">
		<small class="footer"><a href="/">MilaChan</a> (MIT) Luis Albizo 2018 </small>
	</div>
{% endblock %}

