{% macro render_field(field) %}
	{{ field(**kwargs) }}
	<ul id="errors-{{field.name}}">
	{% for error in field.errors %}
		<li class="error">{{error}}</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro preview_threads(OP) %}
	<article class="row">
		<div class="op col-xs-12">
			<h3>{{ op[''] }}<h3>
		</div>

	</article>
{% endmacro %}

{% macro render_thread(OP) %}
	<section class="container">


	</article>
{% endmacro %}


{% macro render_post_preview(OP) %}
	<article class="row">

	</article>
{% endmacro %}


