{% macro render_preview_thread(post) %}
	<article class="thread">
		<div class="OP">
			<a href="{{ post.image['url'] }}">{{ post.image['url'].split('/')[-1] }}</a>
<small>( {% if post.image['size'] < (2**20) %}{{ '%.2f KB' % (post.image['size']/(2**10))}}{% else %} {{ '%.2f MB' % (post.image['size']/(2**20))}} {% endif %}, {{ post.image['name'] }} )</small>
		<br>
		<img src="{{ post.image['url'] }}" class="image"></img>
		<!-- img-responsive col-xs-8 col-xs-offset-2 col-sm-4 -->
			<p class="lead info col-xs-12">
			<h4 class="title">{{ post.title }}</h4>
			<span class="posterName">{{post.name}}</span>
				<a href="/thread/{{post.board}}/{{ post.id }}">
				#{{ post.id }}
				</a>
				<span class="timestamp">{{ timestamp(post.timestamp) }}</span>
			</p>
			<p class="content">{{ post.content }}</p>
		</div>
	</article>
	<hr/>
{% endmacro %}


{% macro render_reply() %}


{% endmacro %}

{% macro timestamp(dt) %}
	{{ "%i:%i:%i - %i/%i/%i" % (dt.tm_hour,dt.tm_min,dt.tm_sec,dt.tm_mday,dt.tm_mon,dt.tm_year) }}
{% endmacro %}



